.env
Client-Server-Archetecture/terraform.tfstate
Client-Server-Archetecture/Terraform/.terraform.lock.hcl
Client-Server-Archetecture/Terraform/master.pem
Client-Server-Archetecture/Terraform/terraform.tfstate
Client-Server-Archetecture/Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.66.0/linux_amd64/terraform-provider-aws_v3.66.0_x5
Client-Server-Archetecture/Terraform/terraform.tfstate.backup
